.Home {
  margin-top: 250px;
  margin-left: 500px;
  width: 1450px;
  position: flex;
}

.HomeHeader {
  width: 100%;
  top: 350px;
}

.img-block {
  border-image: round;
  padding-left: 75px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.cardShadow {
  border-radius: 15px;
  box-shadow: 5px 5px 5px 8px #3d3d3842;
  margin-top: 50px;
  margin-left: 45px;
}
